extends layout

block content
  h1= title
  form(id='instrumentForm', action="/resource/instruments", method="POST")
    div.form-group
      label.instrumentAttr(for='instrument_name') instrument_name
      input#instrument_name(type='text', name='instrument_name')
    div.form-group
      label.instrumentAttr(for='category') category
      input#category(type='text', name='category')
    div.form-group
      label.instrumentAttr(for='price') Price
      input#price(type='number', name='price')
    input(type="submit")
  script.
    document.forms[`instrumentForm`].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error)
      });
    });